/* boilerplate */
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color:inherit;
    font-size: 18px;
}

/* header - navbar */

.nav-bar {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #EBCFF6;
}

.nav-bar img {
    height: 10vh;
    width: auto;
    margin-left: 15vh;
}

nav ul {
    display: flex;
    gap:36px;
    margin-right: 15vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}


/* first-section */

.first-section {
    display: flex;
    flex-direction: column;
    background-color: #AD66E0;
    background-image: url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.hero {
    display: flex;
    flex: auto;
    height: 100%;
    gap:16px;
    margin: 10vh 15vh 0vh 15vh;
    justify-content: space-between;
    align-items: center;
    
}


.first-section .hero-container {
    width: 400px;
    height:500px;
}
.first-section .text {
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Space Mono', monospace;
    color: #F4F4F9;
}

.first-section .subtext {
    font-size: 24px;
    font-family: 'VT323', monospace;
    font-weight: 200;
    color: #F4F4F9;
}
.hero-container img {
    height: 200px;
    width: auto;
}

.first-section button {
    background-color: rgba(244, 244, 249, 0.3);
    padding: 8px;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #F4F4F9;
    width: 120px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side p {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: #F4F4F9;
}
/* second-section */

.second-section {
    display: flex;
    height: 600px;
    background-color: #4C4371;
    justify-content: center;
    align-items: center;
    background-image: url(./img/second-section-img.png);
    background-repeat: no-repeat;   
    background-position: center;
    background-size:cover;
}

.second-section h2 {
    display: flex;
    flex: auto;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #F4F4F9;
    margin-top: 0;
    margin-bottom: 10vh;
    font-family: 'Space Mono', monospace;
}
#informational-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#informational-img-container div {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: 'VT323', monospace;
    color: #F4F4F9;
}
#informational-img-container div > p {
    background-color: black;
    padding: 4px;
}

#informational-img-container img {
    height: 175px;
    width: auto;
    border: 5px solid rgba(173, 102, 224, 0.5);
    padding: 8px;
    border-radius: 16px;
    align-self: center;
}

/* third section */

.third-section {
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: #F1D6FD;
    background-image: url(./img/third-section-img.png);
    background-repeat: no-repeat;   
    background-position: bottom;
    background-size:cover;
}

.quote-block {
    display: flex;
    flex-direction: column;  
    align-items: center;  
}

.third-section div {
    width: 800px;
    display: flex;
    flex:auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.quote-block .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'VT323', monospace;
}

.quote .quotee {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    font-style: normal;
    font-family: 'Space Mono', monospace;
}

/* fourth-section */

.fourth-section {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBCFF6;
    background-image: url(./img/fourth-section-img.png);
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
}

.fourth-section .join-ad {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 15vh;
    align-items: center;
    padding: 24px 16px 24px 16px;
    background-color: #4C4371;
    border-radius: 8px;
}

.fourth-section h2,
.fourth-section p {
    display: flex;
    flex: auto;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
    color: #F4F4F9;
    font-family: 'Space Mono', monospace;
}
.join-ad button {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color:#F4F4F9;
    background-color: #4C4371;
    border: 2px solid #F4F4F9;
    border-radius: 6px;
    width: 150px;
    margin-right: 5rem;
}

/* footer */

footer {
    height: 10vh;
    background-color: #4C4371;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer section {
    display: flex;
    color: #F4F4F9;
    font-family: 'Space Mono', monospace;
}